body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .outer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
  }
  
 
  .menu-left {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .menu-left .choice-box {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    border: 2px solid #ccc;
  }
  
  .menu-left ol {
    list-style: none;
    padding: 0;
  }
  
  .menu-left ol li {
    margin-bottom: 20px;
  }
  
  .menu-left .choice-box h1 {
    margin-top: 0;
  }
  
  .menu-left .choice-box p {
    margin-top: 5px;
  }
  
  .menu-left .menu-item {
    display: flex;
    align-items: center;
  }
  
  .menu-left .step-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .menu-left .menu-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .menu-left .menu-step {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }
  
  .menu-left .menu-name {
    margin: 5px 0 0;
    color: #666;
  }

  .outer-container{
    border: 2px solid #ccc;
    border-radius: 10px; 
    padding: 20px; 
    background-color: #ffffff;
    
  }
  .menu-left{
    background-color: #0066ff;
  }